@using SOEN341InstagramReplica.Models
@model PostAndComments
@{
    ViewBag.Title = "Details2";
}

<h2>Post</h2>
<h1>@Model.post.Title</h1>
<h1>@Html.ActionLink(Model.postUserName.ToString(), "Details2", "Users", new { id = Model.post.User_ID }, null)</h1>
@{
    var base64 = Convert.ToBase64String(Model.post.POST);
    var imgsrc = string.Format("data:image/png;base64,{0}", base64);
}


<img src='@imgsrc' style="max-width:75%;max-height:75%" />
<p>-----</p>
@if (Session["username"] != null)
{
    @Html.ActionLink("Create New Comment", "Create", "Comments", new { id = Model.post.ID }, null)

}



<table class="table">
    <tr>
        <th>
            Comment
        </th>
        <th>
            User
        </th>
    </tr>
    @foreach (var comment in Model.comments)
    {
        <tr>
            <td>@comment.Comment1</td>
            <td><a href="@Url.Action("Details2", "Users", new { id = comment.User_ID}, null)">
                @comment.Username</a>
            </td>

        </tr>
    }
</table>